@font-face {
    font-family: 'CenturyGothic';
    src: url('centurygothic.eot?') format('eot'),
         url('centurygothic.ttf') format('truetype');
}
/*url('centurygothic.otf') format('otf');*/

body {
  background-color: #DDDDDD !important;
}
.pagePrint{
   width: 21cm;
  height: 29.7cm;
  display: block !important;
  margin: 0 auto !important;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.2);
}
.page{
  background-size: 100%;
  color: #323232;
  border: 1px solid #323232;
  font-family: 'CenturyGothic', 'Comic-Sans' !important;
  margin-top: 10px;
  background: #CBF1EA;
  background: #E1FDED;
  width: 595px;
  height: 842px;
  display: inline-block;
  margin-left:50px;
  margin-bottom: 10px;
}
.menu{
  float: left;
  display: inline-block;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 15px;
}

#btnSave, .btn-danger{
  margin-top: 40px;
  margin-left: 40px;
}

.modal-body {
  width: 675px;
  height: 905px;
  background: rgba(0,0,0,0) !important;
}

.modal-content{
  background: rgba(0,0,0,0) !important;
  box-shadow: none !important;
  border: none !important;
}

.header{
  background-size: 100%;
  background: #F2F2F2;
  position: absolute;
  top: 10;
  height: 55px;
  width: 595px;
  border-bottom: 4px ridge #323232;
}

.header h2{
  font-size: 32px;
  margin-top: 7.5px;
  margin-left: 45px;
}

.header .imga{
  z-index: 999;
  background: url("../logo.png") no-repeat center !important;
  background-size: 100% 100%;
  height: 40px;
  width: 190px;
  margin: 5px 30px;
  padding: 0;
}

ul {
  margin-top: 55px !important;
    height: 742px;
    width: 595px;
    overflow: hidden;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

ul > li {
  float:left;
  width:33.3333%;
  list-style: none;
  padding: 4px;
  text-align: center;
}

li p{
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1.1;
}

li small{
  font-size: 13px;
  font-weight: bold;
  color: #205A2A;
}

li h4{
  font-size:14px;
  font-weight: bold;
  margin: 4px;
  margin-bottom: 5px;
  display: inline-block;
}

